# model checkpoints
*.pt
*.pth
*.ckpt
*.onnx
*.safetensors

# wandb
wandb/
**/wandb/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.dist/
build/
*.log
.pytest_cache/
.cache/

# IDE / OS
.idea/
.vscode/
.DS_Store