# model checkpoints
*.pt
*.pth
*.ckpt
*.onnx
*.safetensors

# wandb
wandb/
**/wandb/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.dist/
build/
*.log
.pytest_cache/
.cache/

# IDE / OS
.idea/
.vscode/
.DS_Store

results/
results_guidance/
data/
checkpoints/

# Allow tracking diffusion_textguide dataset artifacts
!DP_3D_costmap/3D_costmap/diffusion_textguide/data/
!DP_3D_costmap/3D_costmap/diffusion_textguide/data/**
!DP_3D_costmap/3D_costmap/diffusion_textguide/data/**/*.pt

!DP_3D_costmap/3D_costmap/diffusion_textguide/results/
DP_3D_costmap/3D_costmap/diffusion_textguide/results/similarity/

*.png
*.pfm
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.eps
*.pdf
*.docx
*.doc
*.csv